################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task1/Program/.vs/Program/v15
/Task1/.vs/Program
